body
{
	width:auto;
	height:auto;
	background-color:#e9ebee;
	font-family: Helvetica, Arial, sans-serif;
}

.header {
	width: 100%;
	height: 43px;
	position: relative;
	background-color:#4267B2;
	position: fixed;
}

.left-header {
	width:47.7%;
	height:100%;
	float: left;

}

.logo {
	width: 24px;
	height: 24px;
}

.fb-logo {
	width:26px;
	height:26px;
	margin-left:270%;
	margin-top:35%;
}

.search {
	width:23px;
	height:23px;
}

.search-bar {
	width:446px;
	height:22px;
	position:relative;
	left:97px;
	top:-15px;
	border-radius:2px;
	border:none;
}


.search_icon {
	width:47px;
	height:24px;
	position:relative;
	left:496px;
	top:-39px;
	font-size:16px;
	background-color:#f5f6f7;
	border-radius: 2px;
}

.search-icon {
	position: absolute;
	left:15px;
	top:4px;
}

input::-webkit-input-placeholder {
	font-family: Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: 400px;
	font-size: 14px;
	position:relative;
	padding:7px;
	top:-2px;
}

.right-header {
	width:52.3%;
	height: 100%;
	/*background-color: green;*/
	float: right;
}

.navbar {
	width:100%;
	height:100%;
}

.nav-bar-links {
	width:29%;
	height:100%;
	float:left;
}

.nav-bar-links ul {
	margin-top:7px;
	width: 100%;
	margin-left:0px;
	padding-left:0px;
}

.nav-bar-links ul li {
	display: inline-block;
}

.nav-bar-links ul li a {
	color:#fff;
	text-decoration:none;
	border-right:1px solid black;
	font-weight:bold;
	font-size: 12px;
	padding-left:8px;
	padding-right:11px;
	padding-top:0px;
	padding-bottom: 5px;
	font-family: Helvetica,  sans-serif;
	border-color:#3b5da0;
	position:relative;
	font-style:normal;
	line-height:28px;
	text-align:center;
	vertical-align:top;
	white-space:nowrap;

}




.proficon {
	width:24px;
	height:24px;
	margin-top:2px;
	border-radius:50%;
	float:left;
	left:3px;
	position:relative;
}

.nav-bar-links ul li:hover {
	background-color:#3B5998;
}

.nav-bar-icons ul li:hover {
	background-color:#3B5998;
}

.nav-bar-icons {
	width:71%;
	height:100%;
	/*background-color:red;*/
	float:left;


}


.nav-bar-icons ul{
	margin-top:7px;
	width: 100%;
	margin-left:0px;
	padding-left:0px;
}

.nav-bar-icons ul li{
	display:inline-block;
}

.one {
	width:20%;
	height:100%;
	float: left;
}

.one ul {
	margin-top:9px;
	border-right:1px solid black;
	border-color:#3b5da0;
}

.one ul li a {
	font-size:22px;
	color:#1a2947;
}

.one ul li {
	margin-left:5px;
}

.two {
	width:80%;
	height:100%;
	float:left;
}

.two ul {
	margin-top:9px;
	margin-left:23px;
}

.two ul li a {
	color:#1a2947;
	font-size:22px;
}

.two ul li {
	margin-left:5px;
}